// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color:#000000;
}
h1 , h2 , h3 {
    color: #ffffff;
}
tr {
    color: #ffffff;
    font-size: larger;

}
.content{
    color: #ffffff;
}
strong{
    color: #ffffff;
}
.abc , .post_title , .error_explanation{
    color: #ffffff;
}